@media (min-width: 770px) and (max-width: 1024px) {

#inicio .btn{margin-top: 15px;}

	.nav > li > a {
		padding: 12px 8px;
		line-height: 21px;
	}
	.social-links{
		padding-top: 15px;
	}
}

@media (min-width: 481px) and (max-width: 769px) {

	.portfolio-item img {
		width: 70%;
		margin-left: 15%;
	}
	.portfolio-item .overlay {
		margin-left: 15%;
		width: 70%;
	}
	.portfolio-item:hover .overlay {
		margin-left: 15%;
		width: 70%;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	#inicio .btn{
		margin-top: 15px;
	}
	.logo-topo{
		margin-top: 20px;
	}
	.navbar-default{
		background: #333;
	}
	.social-links{
		padding-top: 15px;
	}
	.row {
		padding: 40px 0px;
	}
	.portfolio-item img {
		width: 70%;
		margin-left: 15%;
	}
	.portfolio-item .overlay {
		margin-left: 15%;
		width: 70%;
	}
	.portfolio-item:hover .overlay {
		margin-left: 15%;
		width: 70%;
	}
}
